* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1906px;
}

header {
    background-color: aqua;
    height: 81px;
    display: flex;
    align-content: center;
}


.navigator_flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    width: 1192px;
    border: 2px dashed black;
    padding: 5px;
    background-color: orange;
    align-self: center;
}

.logo .login {
    flex-basis: 20%;
}

.link {
    flex-basis: 60;
}

.section_1 {
    height: 494px;
    display: flex;
    background-color: blue;
    flex-direction: row;
    justify-content: center;
}

.container_1 {
    background-color: deeppink;
    width: 901px;
    height: 387px;
    align-self: center;
    border: 1px dashed black;

}

.section_2 {
    height: 601px;
    display: flex;
    flex-direction: row;    
    justify-content: center;
}

.contsection_2 {
    width: 1192px;
    height: 522px;
    align-self: center;
    display: flex;
    flex-direction: row;

}

.items_2 {
    background-color: deeppink;
    flex-basis: 40%;
    border: 1px dashed black;

}

.items_1 {
    background-color: dodgerblue;
    flex-basis: 60%;
    border: 1px dashed black;

}


.section_3 {
    height: 601px;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    background-color: grey;
}

.contsection_3 {
    width: 1192px;
    height: 522px;
    align-self: center;
    display: flex;
    flex-direction: row-reverse;

}

.section_4 {
    height: 985px;
    display: flex;
    background-color: grey;
    flex-direction: row;
    justify-content: center;
}

.container_4 {
    background-color: green;
    width: 1192px;
    height: 893px;
    align-self: center;
    border: 1px dashed black;

}

.section_5 {
    height: 731px;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-around
}

.contsection_5 {
    width: 1192px;
    height: 553px;
    align-self: center;
    display: flex;
    flex-direction: row;

}

.items_3 {
    background-color: red;
    flex-basis: 66%;
    border: 1px dashed black;

}

.items_4 {
    background-color: aquamarine;
    flex-basis: 33%;
    border: 1px dashed white;

}

.contsection_5_1 {
    background-color: aqua;
    width: 1192px;
    height: 58px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 89px;
}

.logo1{
    background-color: rgb(237, 87, 167);
    border: 5px solid black;
    width: 74px;
    height: 33px;
    text-align: center;
}

.bottone{
    background-color: rgb(237, 87, 167);
    border: 5px solid black;
    width: 74px;
    height: 33px;
    text-align: center;
}