*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1906px;
}

header {
    background-color: aqua;
    height: 81px;
    display: flex;
    align-content: center;
}

.section_1 {
    height: 494px;
    display: flex;
    background-color: aquamarine;
    flex-direction: row;
    justify-content: center;
}

.navigator_flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    width: 1192px;
    border: 2px dashed black;
    padding: 5px;
    background-color: orange;
    align-self: center;
}

.logo .login { 
    flex-basis: 20%;
}

.link {
    flex-basis: 60;
    max-width: 702px;
}

.container_1 {
    background-color: deeppink;
    width: 901px;
    height: 387px;
    align-self: center;

}